/* General */ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

main{
  height: 100%;
  background-image: linear-gradient(#009688 20%,#dadbd3 1px, #dadbd3 80%);
} 

img{
  margin: 5px 0;
}

span{
  display: block;
  font-size: 15px;
}

input::placeholder{
  font-size: 15px;
  color: #96868a;
}

i{
  cursor: pointer;
}

.app{
  height: 100%;
}

.container{
  width: 90%;
  min-width: 1000px;
  height: 90%;
  margin: 0 auto;
}








/* Contacts */

.contacts{
  width: 35%;
  height: 100%;
}

.user{
  height: 8%;
  background-color: #eaeaea;
}

.user .left{
  width: 30%;
}

.user .left img{
  margin-right: 5px;
  margin-left: 10px;
}

.user .right{
  width: 70%;
}

.notifications{
  height: 8%;
  background-color: #8edafc;
}

.notifications .bell{
  margin-right: 5px;
  margin-left: 20px;
  color: #8dd9fc;
  background-color: white;
}

.notifications span{
  text-decoration: underline;
  cursor: pointer;
}

.contacts-list{
  height: 84%;
  background-color:white;
}

.contacts-list .search{
  height: 8%;
  padding: 1%;
  background-color: #fafafa;
}

.contacts-list .box-search{
  width: 98%;
  height: 98%;
  background-color: white;
  border: 1px solid #f6f6f6;
}

.contacts-list .box-search i{
  font-size: 12px;
}

.contacts-list .search input{
  width: 100%;
  padding: 8px 5px;
  border: none;
}

.contacts-list .list{
  height: 92%;
  overflow: scroll;
}

.contact-message{
  padding: 5px 0;
  border-top: #e9ebeb 1px solid;
  cursor: pointer;
}

.active{
  background-color: #e9ebeb;
}








/* Chat */

.chat{
  width: 65%;
  height: 100%;
}

.contact{
  height: 8%;
  background-color: #eaeaea;
  border-left: 1px solid #d8d8d8;
}

.chat-messages{
  height: 84%;
  padding: 20px 60px;
  background-image: url('../img/mine.jpg');
  overflow: scroll;
}

.chat-message{
  position: relative;
  max-width: 55%;
  margin: 5px 0;
  padding: 4px 10px;
  border-radius: 5px;
  word-wrap: break-word;
  clear: both;
  box-shadow: 1px 1px 3px grey;
}

.chat-message i, .chat-message span:first-child{
  display: inline-block;
}

.chat-message i{
  float: right;
  margin-left: 10px;
  font-size: 12px;
}

.chat-message i:hover ~ .tendina,
.chat-message .tendina:hover{
  display: flex;
}

.chat-message span:not(:first-child){
  text-align: end;
  font-size: 10px;
  margin-top: 2px;
}

.chat-message .tendina{
  display: none;
  position: absolute;
  z-index: 99;
  flex-direction: column;
  top: 30%;
  right: -50px;
  width: 130px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 3px grey;
  cursor: pointer;
}

.chat-message .tendina span{
  padding: 2px;
  font-size: 12px;
  text-align: start;
}

.chat-message .tendina span:hover{
  color: skyblue;
}

.chat-message .play i{
  font-size: 18px;
  margin: 5px 0;
}

.chat-message .play .line{
  margin: 0 5px;
  height: 2px;
  width: 100px; 
  background-color: grey;
}

.sent{
  float: right;
  background-color: #d5f9ba;
}

.received{
  float: left;
  background-color: white;
}

.writing{
  height: 8%;
  background-color: #f3eeea;
}

.writing .left,
.writing .right{
  width: 8%;
}

.writing input{
 width: 84%;
 height: 80%;
 padding: 0 10px;
 border: none;
 border-radius: 5px;
}

.bho {
  display: none;
  width: 100%;
  height: 100%;
  animation: boz 2s infinite
}

.flash {
  background-image: none;
  animation: flash 2s infinite
}

@keyframes boz {
  0%   {transform: scale(0);}
  50%  {transform: scale(1);}
  100% {transform: scale(0);}
}

@keyframes flash {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}








/* Uilities */ 

.d-flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-end{
  justify-content: end;
}

.align-center{
  align-items: center;
}

.grey{
  color: #b1b1b1;
}

.dark-grey{
  color: #6b7376;
}

.m-10{
  margin: 0 20px;
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

