/* General */ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

main{
  height: 100%;
  background-color: aqua;
}

img{
  margin: 5px 0;
}

p{
  font-size: 10px;
}

input::placeholder{
  /* font-family: FontAwesome; */
  font-size: 10px;
  color: #96868a;
}

i{
  cursor: pointer;
}

.app{
  height: 100%;
}

.container{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: aquamarine;
}




/* Contacts */

.contacts{
  width: 35%;
  height: 100%;
}

.user{
  height: 10%;
  background-color: #eaeaea;
}

.user .left{
  width: 30%;
}

.user .left img{
  margin-right: 5px;
  margin-left: 10px;
}

.user .right{
  width: 70%;
}

.notifications{
  height: 12%;
  background-color: #8edafc;
}

.notifications .bell{
  margin-right: 5px;
  margin-left: 20px;
  color: #8dd9fc;
  background-color: white;
}

.notifications p{
  text-decoration: underline;
  cursor: pointer;
}

.contacts-list{
  height: 78%;
  background-color:white;
}

.contacts-list .search{
  padding: 1%;
  background-color: #fafafa;
}

.contacts-list .box-search{
  width: 98%;
  background-color: white;
  border: 1px solid #f6f6f6;
}

.contacts-list .box-search i{
  font-size: 12px;
}

.contacts-list .search input{
  border: none;
}

.contacts-list .list{
  height: 92%;
  overflow: scroll;
}

.contact-message{
  padding: 5px 0;
  border-top: #e9ebeb 1px solid;
  cursor: pointer;
}

.active{
  background-color: #e9ebeb;
}




/* Chat */

.chat{
  width: 65%;
  height: 100%;
}

.contact{
  height: 10%;
  background-color: #eaeaea;
  border-left: 1px solid #d8d8d8;
}

.messages{
  height: 80%;
  padding: 20px 60px;
  background-image: url('/milestone1/assets/img/mine.jpg');
  overflow: scroll;
}

.message{
  margin: 5px 0;
}

.message p{
  width: 220px;
  padding: 10px;
  border-radius: 5px;
}

.sent{
  background-color: #d5f9ba;
}

.received{
  background-color: white;
}

.writing{
  height: 10%;
  background-color: #f3eeea;
}

.writing .left,
.writing .right{
  width: 8%;
}

.writing input{
 width: 84%;
 height: 80%;
 padding: 0 10px;
 border: none;
 border-radius: 5px;
}




/* Uilities */ 

.d-flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-end{
  justify-content: end;
}

.align-center{
  align-items: center;
}

.grey{
  color: #b1b1b1;
}

.dark-grey{
  color: #6b7376;
}

.m-10{
  margin: 0 10px;
}

.circle{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
