*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: aqua;
}

.container{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: aquamarine;
}